<h4>Formulaire: Combine</h4>

<form (ngSubmit)="handleSubmit()" [formGroup]="userForm">
  <div>
    <label>Email: </label>
    <input [formControl]="emailCtrl"
    [(ngModel)]="user.email">
    <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('email')">
      Le champ email n'est pas valide
    </div>
    <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('required')">
      Le champ email est requis
    </div>
    </div>
  <div>
    <label>Password: </label>
    <input type="text" [formControl]="passwordCtrl" [(ngModel)]="user.password" class="input-angular">
    <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('isPrefixNartawak')">
      Le champ password ne commence pas par le préfix nk-
    </div>
  </div>
  <button type="submit"
  [disabled]="userForm.invalid">Login
  </button>
  <button type="reset"
  (click)="handleClear()">Clear
  </button>
</form>
